 <script>
      $( function() {
        $( "#counties" ).autocomplete({
          source: '<%= counties_path(:json) %>'
        });
        $( "#items" ).autocomplete({
          source: '<%= items_path(:json) %>'
        });
      } );
</script>

<p id="notice"><%= notice %></p>


<% if @errors != "" %>
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h3> Search </h3>

      <h4> <%= @errors %> </h4>
      <%= form_tag("", :method => "get", id: "search-form") do %>
        <%= text_field_tag :item, params[:item], :placeholder => 'Enter Item', id:'items' %>
        <%= text_field_tag :county, params[:county], :placeholder => 'Enter County', id:'counties' %>

        <%= text_field_tag :zip, params[:zip], placeholder: "Zipcodes", maxlength: 5, class: 'input-small' %>
        <%= submit_tag "Search", :name => nil %>
      <% end %>
    </div>
  </div>
</div>
    <% else %>

    <%= render 'layouts/partials/searchResults' %>

    <% end %>
    <br>
