<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @county.name %>
</p>
<p>
  <strong>County Coordinator:</strong>
  <%= @county.coordinator %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @county.phone %>
</p>
<p>
  <strong>Website:</strong>
  <%= @county.website %>
</p>

<%= link_to 'Edit', edit_county_path(@county) %> |
<%= link_to 'Back', counties_path %>
