
<div class="row">

    <h2>System Settings</h2>

    <h4>Database</h4>
     <div class="large-6 columns">
       <h4>Counties & Coordinators</h4>
       <%= link_to "View All", counties_path, class: "button" %>
       <%= link_to "Add", new_county_path, class: "button" %> <br>
     </div>

     <div class ="large-6 columns">
       <div class="panel">
         <h4>Items</h4>
         <%= link_to "View All", items_path, class: "button" %>
         <%= link_to "Add", new_item_path, class: "button" %> <br>
       </div>
    </div>
    <hr>

    <h4>System Password</h4>
    <a href="#" class="button">Change</a>
    <hr>

    <h4>Export Call Reports</h4>
    <a href="#" class="button">Download Database</a>
    <a href="#" class="button">Download DEP</a>
    <!-- <%= link_to "Download PRC", "public/PRCcall_stats.csv", class: "button" %> -->
    <%= link_to 'Download PRC', downloadPRC_path,  :"data-no-turbolinks" => true , class: "button" %>


  </div>
