<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @item_location.description %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @item_location.verified %>
</p>

<p>
  <strong>Context:</strong>
  <%= @item_location.context %>
</p>

<%= link_to 'Edit', edit_item_location_path(@item_location) %>
