<p id="notice"><%= notice %></p>

<div class="row">
  <div class="large-12 columns">
  <div class="left">
    <h1>Items</h1>
  </div>

  <div class="right">
  <%= link_to '<i class="fa fa-plus-square" aria-hidden="true"></i> Add Item'.html_safe, new_item_path %>
  </div>
  </div>
</div>

<div class="row">
<div class="large-12 columns">
<div class="panel">
<% if @items.blank? %>
  <h4> No item available.</h4>
<% else %>
  <table border= "1px solid black">

    <thead>
      <tr>
        <th>Name</th>
        <th>Aliases</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
      <% @aliases = item.aliases %>
        <tr>
          <td><%= item.name %></td>
          <td>
            <% @aliases.each do |a| %>
              <%= a.name if item.name != a.name %>
            <% end %> 
          </td>
          <td><%= item.description %></td>
        </tr>
      <% end %>
    </tbody>



  </table>
<% end %>
<br>

</div></div></div>

<%= will_paginate @items, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
