<p id="notice"><%= notice %></p>

<h1>Items</h1>
<% if @items.blank? %>
  <h4> No item available.</h4>
<% else %>
  <table border= "1px solid black">

    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Website</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.description %></td>
          <td><%= item.active %></td>

        </tr>
      <% end %>
    </tbody>
    <tbody>

        <% @items.each do |item| %>
          <tr>
            <td><%= item.name %></td>
            <td><%= item.address %></td>
            <td><%= item.phone %></td>
            <td><%= item.website %></td>
          </tr>
        <% end %>

    </tbody>
  </table>
<% end %>
<br>

<%= link_to 'New Item', new_item_path %>
