<div class="large-8 large-centered columns">
  <div class="panel callout radius">
    <p id="notice"><%= notice %></p>

    <h3><%= @item.name.titleize %></h3>

    <% if @item.aliases.size > 0 %>
      <p>
        <strong>Aliases</strong>
        <% @item.aliases.each do |a| %>
          <li><%=  a.name %></li>
        <% end %>
      </p>
    <% else %>
      <p>
        <strong>No Aliases</strong>
      </p>
    <% end %>

    <p>
      <strong>Description:</strong>
      <%= @item.description %>
    </p>

    <div class="row">
      <%= link_to 'Edit', edit_item_path(@item), class: "button" %>
      <%= link_to 'See All', items_path, class: "button" %>
      <%= link_to 'Delete', item_path(@item), method: 'delete', class: "alert button" %>
    </div>

  </div>
</div>
