<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Aliases:</strong>
  <% @aliases = @item.aliases %>
    <% @aliases.each do |a| %>
      <%= a.name if @item.name != a.name %>
    <% end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @item.active %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
