<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Rails:</strong>
  <%= @item.rails %>
</p>

<p>
  <strong>G:</strong>
  <%= @item.g %>
</p>

<p>
  <strong>Scaffold:</strong>
  <%= @item.scaffold %>
</p>

<p>
  <strong>County:</strong>
  <%= @item.County %>
</p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
