
<div class="row">

    <h2>Validations</h2>

    <%= form_tag("", :method => "get", id: "search-form") do %>
    <fieldset class="large-6 columns">

      <legend>Filter by </legend>
      <script>
      $( function() {
        $( "#tags" ).autocomplete({
          source: '<%= counties_path(:json) %>'
        });
      } );
      </script>


      <div class="ui-widget">
        <input id="tags" name="county" placeholder = 'Enter County' value='<%= params[:county] if params[:county]%>'>
      </div>
      <div >
        <%= submit_tag "Search", :name => nil %>
      </div>

    </fieldset>



    <fieldset class="large-6 columns">
      <legend>Sort by </legend>
      <input type="radio" name="sortby" value="County" id="pokemonRed"><label for="pokemonRed">County</label>
      <input type="radio" name="sortby" value="Name" id="pokemonBlue"><label for="pokemonBlue">Name</label>
      <input type="radio" name="sortby" value="Last Validated" id="pokemonYellow"><label for="pokemonYellow">Last Validated</label>
      <%= submit_tag "Sort", :name => nil %>
    </fieldset>



    <% end %>


  </div>

<div class="row">
  <div class="panel">
    <% if @locations == "errorMessage" %>
    <br></br>
    <h3> That county does not exist. Please try again. </h3>
    <% elsif @locations != [] %>
    <%= render 'layouts/partials/validations' %>
    <%= will_paginate @locations, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
    <% else  %>
    <br></br>
    <h3> Search for any county. </h3>
    <% end %>
  </div>
</div>
