      <h3> New Call </h3>
      <%= form_tag("/submit_form", method: "post") do %>

      County
      <%= select_tag 'county', options_for_select(County.all.alphabetical.map { |a| [a.name, a.id]}),
      value: if @vals.blank? then County.all.first elsif @vals[0].nil? then @vals[0] end , :required => true %>

      Item
      <%= select_tag 'item', options_for_select(Item.all.alphabetical.map { |a| [a.name.capitalize, a.id]}),
      value: if @vals.blank? then Item.all.first elsif @vals[1].nil? then @vals[1] end , :required => true %>

      Caller Name
      <% caller_name = if @vals.blank? then nil else @vals[2] end%>
      <%= text_field_tag :callerName, caller_name  %>

      How did you find out about the hotline?
      <%= select_tag 'method',
      options_for_select(['Hauler', 'Verizon', 'Municipality', 'Internet', 'Other']),
      value: if @vals.blank? then "Hauler" elsif @vals[3].nil? then @vals[3] end , :required => true %>

      Call Disposition
      <%= select_tag 'disposition',
      options_for_select(['Answered directly', 'Referred to Verizon', 'Referred to County Coordinator', 'Referred to CDRA Manufacturer']),
      value: if @vals.blank? then 'Answered directly' elsif @vals[4].nil? then @vals[4] end , :required => true %>

      Call Type
      <script type="text/javascript">
      function showfield(name){
        if(name=='Other')document.getElementById('div1').innerHTML='Other: <input type="text" name="other" />';
        else document.getElementById('div1').innerHTML='';
      }
      </script>

      <select name="callType" id="callType" onchange="showfield(this.options[this.selectedIndex].value)">
      <option value="Where to recycle">Where to recycle?</option>
      <option value="How to recycle">How to recycle?</option>
      <option value="Why can't I recycle?">Why can't I recycle?</option>
      <option value="Verizon Inquiry">Verizon Inquiry</option>
      <option value="Other">Other</option>
      </select>
      <div id="div1"></div>

      Call for <br>
      <%= radio_button_tag(:callFor, "PRC", required: true) %>
      <%= label_tag(:callFor_prc, "PRC") %>

      <%= radio_button_tag(:callFor, "DEP") %>
      <%= label_tag(:callFor_dep, "DEP") %>
      <br>

      <%= submit_tag "Submit", name: 'submit_clicked', class: "button" %>
      <%= submit_tag "Save", class: "button" %>
      <%= button_to 'Reset', clear_form_path, method: :post, class: "button" %>

      <% end %>
