      <h3> New Call </h3>
      <%= form_tag("/submit_form", method: "post") do %>

      County
      <%= select_tag 'county', options_for_select(County.all.alphabetical.map { |a| [a.name, a.id]}), prompt:"Select a county", :required => true %>

      Item
      <%= select_tag 'item', options_for_select(Item.all.alphabetical.map { |a| [a.name.capitalize, a.id]}), prompt:"Select an item", :required => true %>

      Caller Name
      <%= text_field_tag :callerName, @vals[2], placeholder: "Enter caller name" %>

      How did you find out about the hotline?
      <script type="text/javascript">
      function showfield2(name){
        if(name=='other2')document.getElementById('div2').innerHTML='Other method: <input type="text" name="altOther2" />';
        else document.getElementById('div2').innerHTML='';
      }
      </script>

      <select required name="method" id="method" onchange="showfield2(this.options[this.selectedIndex].value)">
      <option value="" disabled selected>Select the method</option>
      <option value="Flyer">Flyer</option>
      <option value="Hauler">Hauler</option>
      <option value="Internet">Internet</option>
      <option value="Municipality">Municipality</option>
      <option value="Recycling Center">Recycling Center</option>
      <option value="Verizon">Verizon</option>
      <option value="other2">Other</option>
      </select>
      <div id="div2"></div>

      What was the disposition?
      <script type="text/javascript">
      function showfield3(name){
        if(name=='other3')document.getElementById('div3').innerHTML='Referred to Other: <input type="text" name="altOther3" />';
        else if(name=='directly')document.getElementById('div3').innerHTML='Answered Directly: <input type="text" name="directly" />';
        else document.getElementById('div3').innerHTML='';
      }
      </script>

      <select required name="disposition" id="disposition" onchange="showfield3(this.options[this.selectedIndex].value)">
      <option value="" disabled selected>Select the disposition</option>
      <option value="Referred to Verizon">Referred to Verizon</option>
      <option value="Referred to County Coordinator">Referred to County Coordinator</option>
      <option value="Referred to CDRA Manufacturer">Referred to CDRA Manufacturer</option>
      <option value="Referred to DEP">Referred to DEP</option>
      <option value="directly">Answered Directly</option>
      <option value="other3">Referred to Other</option>
      </select>
      <div id="div3"></div>


      What was the call type?
      <script type="text/javascript">
      function showfield(name){
        if(name=='Other')document.getElementById('div1').innerHTML='Other type: <input type="text" name="altOther" />';
        else document.getElementById('div1').innerHTML='';
      }
      </script>

      <select required name="callType" id="callType" onchange="showfield(this.options[this.selectedIndex].value)">
      <option value="" disabled selected>Select the call type</option>
      <option value="Where to recycle">Where to recycle?</option>
      <option value="How to recycle">How to recycle?</option>
      <option value="Why can't I recycle?">Why can't I recycle?</option>
      <option value="Verizon Inquiry">Verizon Inquiry</option>
      <option value="Other">Other</option>
      </select>
      <div id="div1"></div>

      Call for <br>
      <%= radio_button_tag(:callFor, "PRC", required: true) %>
      <%= label_tag(:callFor_prc, "PRC") %>

      <%= radio_button_tag(:callFor, "DEP") %>
      <%= label_tag(:callFor_dep, "DEP") %>
      <br>

      <%= submit_tag "Submit", name: 'submit_clicked', class: "button" %>
      <%= submit_tag "Save", class: "button" %>

      <% end %>
      <%= button_to 'Clear', clear_form_path, method: :post, class: "button secondary" %>
