<header class="header">
  <h1 class="main-header">PRC Hotline</h1>

  <ul class="header-subnav">
    <li><%= link_to "Search", search_path %></li>
    <li><%= link_to "Counties", counties_path %></li>
    <li><%= link_to "Items", items_path %></li>
    <li><%= link_to "Locations", locations_path %></li>
    <li><%= link_to "Validations", validations_path %></li>

  </ul>
</header>
