<script>
     $( function() {
       $( "#counties" ).autocomplete({
         source: '<%= counties_path(:json) %>'
       });
       $( "#items" ).autocomplete({
         source: '<%= items_path(:json) %>'
       });
     } );
</script>

<div class="top-bar" data-topbar role="navigation">
  <ul class="dropdown menu" data-dropdown-menu>


      <li class="name"><h4><%= link_to image_tag("logo.png", size: "50x50"), search_path, class: "active" %></h4></li>

      <li><%= link_to "Locations", locations_path, class: "active" %></li>
      <li><%= link_to "Validations", validations_path, class: "active" %></li>
  </ul>
  <div class="top-bar-right">
        <%= form_tag("/search", :method => "get", id: "search-form") do %>
            <div class="row">
              <div class="medium-3 columns">
                <%= text_field_tag :item, params[:item], :placeholder => 'Enter Item', id:'items' %>
              </div>
              <div class="medium-3 columns">
                    <%= text_field_tag :county, params[:county], :placeholder => 'Enter County', id:'counties' %>
              </div>

              <div class="medium-3 columns">
                <%= text_field_tag :zip, params[:zip], placeholder: "(Optional) Zipcode", maxlength: 5, class: 'input-small'%>
              </div>

              <div class="medium-3 columns">
                <%= submit_tag "Search", :name => nil, class: "button" %>
              </div>

              <div class="medium-3 columns">
                <%= link_to image_tag("settings.png", :size => "30x30"), settings_path  %>
              </div>
            </div>
        <% end %>

      </div>
    </ul>
  </div>
