<div class="column expanded row" style="width: 60%">
  <div class="callout">

    <h2><%= @item.name.capitalize %> in <%= @county.name %> County</h2>

    <% st = "" %>
    <% @item.aliases.each do |a| %>
      <% st += " " + a.name %>
    <% end %>
    <h6>Also known as: <%= st  %> </h6>
    <br>
    <div class="large-8 columns">
        <h4><%= @item.name.capitalize %></h4>
        <p><%= @item.name %> is very useful and can be recycled. </p>
    </div>

    <div class="large-4 columns">

        <h4><%= @county.name %> County</h4>
        <p><%= @county.name %> can recycle <%= @item.name %>
        <br> <br>
          County Coordinator: <br> <br/>
          Someone Someone <br>
          something@county.com <br>
          Phone: (888)-888-8888
        </p>

    </div>

    <br>

    <div>

      <table border= "1px solid black" >

        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Zipcode</th>
            <th>Phone</th>
            <th>Validated</th>
            <th>Context </th>


          </tr>
        </thead>

        <tbody>
          <% @locations.each_with_index do |addr, index| %>
          <tr>
            <% location = Location.find(addr.location_id) %>
            <td><%= link_to location.name, location%> </td>

            <td><%= link_to addr.full_address, "http://maps.google.com/?q=#{addr.full_address}" %>  </td>
            <td><%= addr.zipcode %></td>
            <td>
              <% ph = location.phone %>
              <% a = location.phone.gsub!(/\D/, "") %>
              <%= "(#{ph[0..2]})" %>&nbsp;<%="#{ph[3..5]}"%>&nbsp;<%="#{ph[6..-1]}"%>
            </td>
            <td><%= @contexts[index].verified.blank? ? "Not validated" : @contexts[index].verified  %></td>
            <td><%= @contexts[index].context%></td>

          </tr>
          <% end %>
        </tbody>

      </table>
    </div>



    </div>

</div>

<% if @locations != [] %>
        <%= will_paginate @locations, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
<% end %>
