
<div class="column expanded row" style="width: 60%">
  <div class="callout">

    <h2><%= @item.name %> in <%= @county.name %> County</h2>
    <br>
    <div class="large-8 columns">
        <h4><%= @item.name %></h4>
        <p><%= @item.name %> is very useful and can be recycled. </p>

    </div>
    <div class="large-4 columns">

        <h4><%= @county.name %> County</h4>
        <p><%= @county.name %> can recycle <%= @item.name %>
        <br> <br>
          County Coordinator: <br>
          Someone Someone <br>
          Phone: (888)-888-8888
        </p>

    </div>
    <br>



    <div id="bar" >
      <table border= "1px solid black" >

        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Zipcode</th>
            <th>Validated</th>
            <th>Context </th>


          </tr>
        </thead>

        <tbody>
          <% @locations.each_with_index do |loc, index| %>
          <tr>
            <td><%= link_to loc.name, loc %> </td>

            <td><%= link_to loc.address+" "+loc.city+", PA", "http://maps.google.com/?q=#{loc.address+" "+loc.city+", PA"}" %>  </td>
            <td><%= loc.zipcode %></td>
            <td><%= @contexts[index].verified.blank? ? "Not validated" : @contexts[index].verified  %></td>
            <td><%= @contexts[index].context%></td>

          </tr>
          <% end %>
        </tbody>

      </table>
    </div>



    </div>

</div>
