<p id="notice"><%= notice %></p>
<h4> <%= @countyName %> </h4>
<% @locations.each do |location| %>
  <div class="row" >
    <fieldset style="background-color: #ffffff;">
      <%= simple_nested_form_for location, :html => { :class => 'form-horizontal' } do |location_form| %>

        <div class="row">
          <div class="large-6 column">
            <h4><%= location.name %></h4><br/>
          </div>
          <div class="large-3 small-3 column">
            <%= location.website %> <br/>
            <% ph = location.phone %>
            <% a = location.phone.gsub!(/\D/, "") %>
            <%= "(#{ph[0..2]})" %>&nbsp;<%="#{ph[3..5]}"%>&nbsp;<%="#{ph[6..-1]}"%>
          </div>
          <div class="large-2 small-1 column">
            <i> Updated </i> <br/>
            <% year = "#{location.updated_at.year}".split(//).last(2).join %>
            <%= "#{location.updated_at.month}/#{location.updated_at.day}/#{year}" %>

             <br/>
             <% if (Time.new.to_date - location.updated_at.to_date).to_i < 0%>

               0 days ago
            <% else %>
                 <%= (Time.new.to_date - location.updated_at.to_date).to_i %> days ago
            <% end %>
          </div>
          <div class="large-1 small-1 column">
            <%= location_form.input :active, as: :radio_buttons, :collection => [['Active', true],['Inactive', false]], :input_html => {  id: "active#{location.id}" }  %>

          </div>
        </div>
        <div class="column row">
          Addresses: <br/>

          <%= location.addresses.first.address %>
          <%= location.addresses.first.city %>,
          PA
          <%= location.addresses.first.zipcode %>
           in <%= location.addresses.first.county.name %>
          &nbsp;&nbsp;<a data-open= "<%=location.id%>AddressModal" >More Addresses</a>
          <%= location_form.input :verified, :as => :hidden, :input_html => { :value => Time.new.to_date } %>

          <!-- <%= location.addresses.first.address %><br/> <br/> -->
        </div> <br/>
        <div class="row">
          <div class="large-10 column">

            <% count = 0 %>
            <%= location_form.simple_fields_for :item_locations do |il| %>
              <%= render :partial => "locations/item_loc_active", :locals => { :l => il } %>
              <%= il.input :active, label: il.object.item.name, wrapper_html: { class: "large-1 column"}, input_html: { id: "itemcheck#{location.id}#{count}" }%>
              <% count += 1 %>
            <% end %>





            <a data-open= "<%=location.id%>Modal" data-reveal>More Items</a>

            <div class="reveal" id="<%=location.id%>Modal" data-reveal>

              <h3> <%= location.name %> </h3>
              <% @location = location %>

              <!-- <button data-close> Confirm </button> -->


              <button class="close-button"  data-close type="button"> x </button>

            </div>

          </div>
          <div class="large-2 column">
            <a data-open="<%= location.id %>EditModal" data-reveal>Edit</a>

            <%= location_form.submit "Validate" %>
          </div>
        </div>
      <% end %>
    </fieldset>
  </div>
<% end %>
