<div class='row'>
  <div class="large-8 large-centered columns">
  <fieldset>
  <%= simple_form_for @location do |l| %>

  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= l.input :name %>
    <%= l.input :address %>
    <%= l.input :city %>
    <%= l.input :state %>
    <%= l.input :zipcode %>
    <%= l.collection_select(:counties_id, County.all, :id, :name) %>
    <%= l.input :phone %>
    <%= l.input :website %>
    <%= l.input :active %>
    Items


   <!--<%= l.collection_select(:items, Item.all, :id, :name) %> -->
    <% @items = Item.all.map { |a| [ a.name, a.id.to_i ] } %>
    <% @items.each do |item| %>
      <div> 
        <%= l.check_box(:items, { :multiple => true }, item[1], nil) %>  <%= item[0] %> 
      </div>
    <% end %> 
    <%= l.button :submit %>
  <% end %>
  </fieldset>
  </div> 
</div>