<%= simple_form_for @location do |l| %>

<% if location.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

    <ul>
    <% location.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <%= l.input :name %>
  <%= l.input :address %>
  <%= l.input :phone %>
  <%= l.input :website %>
  <%= l.input :city %>
  <%= l.input :state %>
  <%= l.button :submit %>
<% end %>
