<div class='row'>
  <div class="large-8 large-centered columns">
  <fieldset>
  <%= simple_nested_form_for @location, :html => { :class => 'form-horizontal' } do |location_form| %>

  <!-- <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %> -->




    <div id="item_locations">
      <table>
        <thead>
          <tr>
            <th>Item</th>
            <th>Active</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

          <%= location_form.simple_fields_for :item_locations do |il_form| %>
            <tr>
              <%= render :partial => "locations/item_field", :locals => { :l => il_form } %>
            </tr>
          <% end %>
        </tbody>


      </table>


    </div>



  <% end %>
  </fieldset>
  </div>
</div>
