<p id="notice"><%= notice %></p>

<h1>Locations</h1>

<div class="row">
<div class="panel">
<%= link_to 'New Location', new_location_path %>


<table border= "1px solid black">
  <thead>
    <tr>
      <th>Name</th>
      <th>County</th>
      <th>Address</th>
      <th>City</th>
      <th>Zipcode</th>
      <th>Phone</th>
      <th>Website</th>
      <th>Items</th>
      <th>Active</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, location %></td>
        <td><%= location.county.name %></td>
        <td><%= location.address %></td>
        <td><%= location.city %></td>
        <td><%= location.zipcode %></td>
        <td><%= location.phone %></td>
        <td><%= location.website %></td>
        <td>
        <% @item_locations.for_location(location.id).each do |il| %>
            <%= il.item.name %>
        <% end %>
        </td>
        <td><%= location.active ? "Active" : "Inactive" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div></div>

<br>

<%= will_paginate @locations %>
