<div class="large-8 large-centered columns">
  <div class="panel callout radius">

<p id="notice"><%= notice %></p>

<h3><%= @location.name %></h3>

<p>
  <strong>Addresses:</strong>
  <% @addresses = @location.addresses %>
  <ol>
    <% count = 0 %>
    <% @addresses.each do |a| %>
      <% count += 1 %>
      <% if count != @addresses.size %>
        <li><%= link_to a.full_address, "http://maps.google.com/?q=#{a.full_address}", target: :_blank %> <br></br></li>
      <% else %>
        <li><%= link_to a.full_address, "http://maps.google.com/?q=#{a.full_address}", target: :_blank %> </li>
      <% end %>
    <%end%>
  </ol>
</p>

<p>
  <strong>Phone:</strong>
  <%= number_to_phone(@location.phone, area_code: true) %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @location.website, "#{@location.link_to_website}", target: :_blank %>
</p>


<p>
  <strong>Active:</strong>
  <%= @location.active ? "Yes" : "No" %>
</p>

<p>
  <strong>Details:</strong>
  <%= @location.details %>
</p>

 <br>
  <h5>Items</h5>
  <table>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Active</th>
    </tr>
      <% for il in @item_locations %>
      <tr>
        <td><%= il.item.name.titleize%></td>
        <td><%=il.description.nil? ? "None" : il.description %></td>
        <td><%= il.active ? "Active" : "Inactive" %></td>
      </tr>
      <% end %>
  </table>

    <!-- <ul>
      <% for il in @item_locations %>

        <li><%= il.item.name %> <%= il.description == "" ? "" : "-"%> <%= il.description %>  </li>
      <% end %>
    </ul> -->
  </p>

<div class= "row">

  <%= link_to "Edit #{@location.name}", edit_location_path(@location), class: "button" %>
  <%= link_to 'See All Locations', locations_path, class: "button" %>
  <%= link_to 'Delete', location_path(@location), method: 'delete', class: "alert button" %>

</div>

</div>
</div>
