<div class='row'>

<h3><%= @location.name %></h3>

<p>
  <strong>Address:</strong>
  <br></br>
  <%= @location.address %>
  <div>
  <%= @location.city %>
  <%= @location.zipcode %>
  </div>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @location.zipcode %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @location.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @location.website %>
</p>



<p>
  <strong>Active:</strong>
  <%= @location.active %>
</p>

 <p>
  <b>Items:</b>
    <ul>
      <% for il in @item_locations %>
        <li><%= il.item.name %> </li>
      <% end %>
    </ul>
  </p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>

</div>