<div class='row'>

<h3><%= @location.name %></h3>

<p>
  <strong>Addresses:</strong>
  <% @addresses = @location.addresses %>
  <br></br>
  <% @addresses.each do |a| %>
    <%= a.full_address %>
  <%end%>
  </div>
</p>

<p>
  <strong>Phone:</strong>
  <%= @location.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @location.website %>
</p>



<p>
  <strong>Active:</strong>
  <%= @location.active %>
</p>

 <p>
  <b>Items:</b>
    <ul>
      <% for il in @item_locations %>
        <li><%= il.item.name %> </li>
      <% end %>
    </ul>
  </p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>

</div>
