<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

        <%= render 'layouts/partials/header' %>
        <br>
    <div id="wrap">
      <div style="clear:both;"></div>

      <div id="body">
        <p style="color: green" id="notice"><%= flash[:notice] %></p>

        <%= yield %>
      </div>
    </div>
    <div class="floating-form" id="contact_form">
    <div class="contact-opener">Open Contact Form</div>
        <div class="floating-form-heading"></div>
        <div id="contact_results"></div>
        <div id="contact_body">
          <%= render 'layouts/partials/floatingForm' %>
        </div>
    </div>

  </body>

</html>
